@* Decorative film-reel perforation strip. 40 holes reproduces the prototype's visual density. *@
<div class="filmstrip">
  <div class="filmstrip-holes">
    @for (var i = 0; i < 40; i++)
    {
      <div class="filmstrip-hole"></div>
    }
  </div>
</div>
